/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/* poppins-regular */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); 
}
/* poppins-italic */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-italic.woff2') format('woff2'); 
}
/* poppins-700 */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v24-latin-700.woff2') format('woff2'); 
}
/* poppins-800 */
@font-face {
  font-display: swap; 
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v24-latin-800.woff2') format('woff2'); 
}
/* montserrat-800 */
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v31-latin-800.woff2') format('woff2'); 
}
/* montserrat-700i */
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/montserrat-v31-latin-700italic.woff2') format('woff2'); 
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --clr-bg: #e3e2e2;
  --clr-txt: #292727;
  --clr-prim: #540001;
  --clr-second: #210000;
  --clr-acnt: #ad1107;
  --clr-acnt-hvr: #f90000;
  --white: #fff;
  --shadow: rgba(0, 0, 0, 0.4);
  --glass: 0.85;
}

body.dark-mode {
  --clr-bg: #202020;
  --clr-txt: #D0D4DA;
  --clr-prim: #fff;
  --clr-second: #3b0202;
  --clr-acnt: #D12E0A;
  --clr-acnt-hvr: #FF6347;
  --white: #6D1D15;
  --shadow: rgba(0, 0, 0, 0.7);
  --glass: 0.65;
}

body {
  font-family: "Poppins";
  color: var(--clr-txt);
  background: var(--clr-bg);
}

a {
  color: #da6666;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

h1, h2 {
  font-family: "Montserrat";
}

/*--------------------------------------------------------------
# Loading
--------------------------------------------------------------*/
#loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--clr-bg);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.5s ease-out, visibility 0.6s;
}

.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vmin;
}

.loader-logo {
  width: 10vh;
}

.dots-container {
  display: flex;
  gap: 1.4vh;
}

.dot {
  width: 2vh;
  height: 2vh;
  background-color: #F00;
  border-radius: 50%;
  display: inline-block;
  animation: dotFlashing 1s infinite ease-in-out both;
}

.dot:nth-child(2) { animation-delay: 0.2s; }
.dot:nth-child(3) {animation-delay: 0.4s; }

@keyframes dotFlashing {
  0%, 100% {
    opacity: 0.3;
    transform: scale(0.7) translateY(0);
  }

  50% {
    opacity: 1;
    transform: scale(1) translateY(-4px);
  }
}

.loader-footer {
  position: absolute;
  bottom: 2.5dvh;
  left: 0;
  width: 100%;
  text-align: center;
}

.loader-footer p {
  font-family: sans-serif;
  font-size: 10px;
  color: #AC4D4D;
  margin: 0;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 16px;
  bottom: 16px;
  z-index: 8;
  background: #540001;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  filter: drop-shadow(0 2px 4px var(--shadow));
  transition: opacity 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
}

.back-to-top:hover {
  background: var(--clr-acnt);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  inset: 0;
  width: 300px;
  transition: ease 0.5s;
  z-index: 5;
  padding: 0 12px;
  background: #210000;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  justify-content: space-between;
}

#main {
  margin-left: 320px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
    background: rgba(33, 0, 0, var(--glass));
    backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(12px);
  }

  #main {
    margin: 10px 0;
  }
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.head {
  width: 100%;
  height: 74px;
  top: -10px;
  position: fixed;
  z-index: 9;
  padding: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.6s, filter 0.6s;
}

.head-bg {
  background-color: rgba(84, 0, 1, var(--glass));
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  filter: drop-shadow(0px 4px 4px var(--shadow));
}

.header-left {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.head img {
  max-height: 38px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.nav {
  margin-top: 72px;
  padding-top: 16px;
}

.nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav ul ul {
  margin-left: 24px;
  display: block;
}

.nav ul ul li {
  margin-top: -16px;
}

.nav a, .nav a:focus {
  display: flex;
  align-items: center;
  color: #6f7180;
  gap: 16px;
  padding: 0 14px;
  margin-bottom: 32px;
  transition: 0.4s;
  font-size: 16px;
}

.nav a i, .nav a:focus i {
  font-size: 24px;
  line-height: 0;
  transition: 0.4s;
}

.nav a:hover, .nav .active, .nav .active:focus, .nav li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav a:hover i, .nav .active i, .nav .active:focus i, .nav li:hover>a i {
  color: var(--clr-acnt-hvr);
 }

.mobile-nav {
  font-size: 32px;
  color: #fff;
}

.mobile-nav-active { overflow: hidden; }
.mobile-nav-active #header { left: 0; }

@media (min-width: 1199px) {
  .mobile-nav {
    display: none;
  }

  .head {
    background-color: #540001;
    width: 300px;
  }
}

/*--------------------------------------------------------------
# Light / Dark Switcher
--------------------------------------------------------------*/
.theme-switcher {
  position: fixed;
  z-index: 10;
  top: 15px;
  right: 15px;
}

.theme-button {
  background: none;
  border: none;
  position: relative;
  z-index: 8;
  color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.3s;
}

.theme-button::before,
.theme-button::after {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
}

.theme-button:hover::before,
.theme-button:hover::after {
  display: block;
}

.theme-button::after {
  content: attr(data-tooltip);
  transform: translateX(-70%);
  margin-top: 5px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.theme-button::before {
  content: "";
  transform: translateX(-50%);
  margin-top: -5px;
  border: 8px solid transparent;
  border-bottom-color: #333;
}

.theme-button:hover {
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(255, 255, 255, 0.7);
  color: #540001;
}

.theme-dropdown {
  position: absolute;
  top: 58px;
  right: 0;
  background: rgba(33, 0, 0, var(--glass));
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 8px;
  box-shadow: 0 4px 4px var(--shadow);
  padding: 8px;
  width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(25px);
  transition: opacity 0.3s ease, transform 0.4s ease;
}

.theme-switcher.active .theme-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.theme-option {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  color: #6f7180;
}

.theme-option:not(:last-child) {
  margin-bottom: 6px;
}

.theme-option i {
  margin-right: 12px;
  font-size: 18px;
  width: 20px;
  text-align: center;
}

.theme-option:hover {
  background-color: rgba(125, 0, 1, 0.4);
  color: rgba(255, 20, 24, 0.7);
}

.theme-option.active {
  background: var(--clr-acnt);
  color: #fff;
  font-weight: 700;
}

@media (min-width: 1199px) {
  .head {
    justify-content: flex-start;
  }

  .theme-switcher {
    top: 20px;
    right: 20px;
  }

  .theme-button {
    height: 36px;
    width: 36px;
    background: #540001;
    filter: drop-shadow(0 2px 4px var(--shadow));
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  background: url("../img/bg.webp") bottom / cover;
  background-attachment: fixed;
  position: relative;
}

#hero::before {
  content: "";
  background: linear-gradient(to top, var(--clr-bg) -2px, rgba(0, 0, 0, 0.6) 30%);
  position: absolute;
  inset: 0;
  bottom: -2px;
}

#hero .container { padding: 16px; }

h1 {
  font-size: 68px;
  line-height: 1;
  font-weight: 800;
  background: linear-gradient(30deg, var(--clr-acnt), #ff5126);
 -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0.05em 0.08em 0 #fff);
}

#hero h2 {
  letter-spacing: 2px;
  margin-top: 0.2em;
  font-size: 34px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

#hero .btn-start {
  font-weight: 700;
  font-size: 26px;
  display: inline-block;
  padding: 0.4em 0.86em;
  border-radius: 1em;
  margin-top: 0.5em;
  border: 0.24em solid var(--clr-acnt-hvr);
  color: var(--clr-acnt-hvr);
  transition: transform 0.5s ease, background-color 0.4s ease;
}

#hero .btn-start:hover {
  background: var(--clr-acnt-hvr);
  color: #fff;
  text-shadow: 0 0 4px #fff;
  filter: none;
  transform: scale(0.9) translateX(-0.5em) translateY(0.6em);
}

@media (min-width: 1199px) {
  #hero {
    left: 300px;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    height: 100vh;
    align-content: center;
  }

  #hero .btn-start:hover {
    transform: scale(0.92) translateY(0.7em);
  }
  
  h1 {
    font-size: clamp(42px, 8vw, 68px);
  }

  #hero h2 {
    font-size: clamp(14px, 4vw, 18px);
    margin-top: 1em;
  }

  #hero .btn-start {
    padding: 0.72em 1.94em;
    font-size: 1.2em;
    margin-top: 5vh;
    border-radius: 1.25em;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  position: relative;
  color: var(--clr-acnt);
  padding-bottom: 20px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 800;
}

.section-title h2::after {
  content: "";
  position: static;
  display: block;
  width: 100px;
  height: 6px;
  background: var(--clr-prim);
  left: 0;
  margin: 20px 0 20px;
}

@media (max-width: 768px) {
  section {
    padding: 30px 0;
  }
  
  .section-title {
    padding-bottom: 10px; 
  }
  .section-title h2 {
    font-size: clamp(28px, 6vw, 36px);
    text-align: center;
  }

  .section-title h2::after {
    margin: 10px auto 20px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about img {
  filter: drop-shadow(3px 6px 2px var(--shadow));
  margin-left: 12px;
  width: 100%;
}

.about .content p {
  font-size: 20px;
  line-height: 1.3;
  text-align: justify;
  margin: 24px;
}

.about .info-box {
  justify-content: center;
  text-align: center;
  margin: 24px 2vw;
  padding: 1.2em;
  background: var(--white);
  border-radius: 1.25em;
  box-shadow: 3px 6px 2px var(--shadow);
}

.about .info-box h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--clr-prim);
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.about .info-box h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--clr-prim);
  bottom: 20;
  left: 0;
  margin-top: 10px;
}

.about .info-box span {
  margin: 1px;
  font-size: 20px;
}

.about .info-icon {
  color: var(--clr-acnt);
}

@media (max-width: 768px) {
  .about img {
    display: block;
    margin: auto;
    width: 70vmin;
  }

  .about .content p {
    font-size: clamp(6px, 4vw, 18px);
    margin: 2.4vw;
    text-align: center;
  }

  .about .info-box h3 {
    font-size: clamp(20px, 4vw, 32px);
    letter-spacing: 1px;
  }

  .about .info-box span {
    font-size: clamp(7px, 4vw, 18px);
  }
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.facts .count-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
  font-size: 46px;
  color: var(--clr-acnt);
  float: left;
  line-height: 0;
}

.facts .count-box .content-data {
  display: flex;
  flex-direction: column;
  ;
}

.facts .count-box span {
  letter-spacing: 0.05em;
  font-size: 46px;
  line-height: 1;
  display: block;
  font-weight: 800;
  color: var(--clr-prim);
}

.facts .count-box p {
  margin-top: 6px;
  font-weight: 700;
  font-size: 14px;
  color: var(--clr-txt);
}

@media (max-width: 768px) {
  .facts .count-box {
    padding: 20px;
  }

  .facts .count-box i {
    font-size: 3em;
  }

  .facts .count-box span {
    font-size: 2em;
  }
}

/*--------------------------------------------------------------
# Document
--------------------------------------------------------------*/
.docx {
  width: 100%;
  padding: 14px;
}

.docx a {
  display: block;
  position: relative;
  border-radius: 1.25em;
  overflow: hidden;
  box-shadow: 3px 6px 2px var(--shadow);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.3s ease;
  border: 2px solid var(--clr-prim);
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
}

.docx a:hover {
  transform: translateY(7px) translateX(4px);
  box-shadow: 0px 0px 2px var(--shadow);
}

.docx a::after {
  content: "Klik untuk Membuka";
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  opacity: 0;
  transition: 0.3s;
}
.docx a:hover::after { opacity: 1; }

#link-sd { background-image: url('../img/sd.webp');}
#link-sm { background-image: url('../img/sm.webp'); }
#link-juknis { background-image: url('../img/juklom.webp');}
#link-juknisv { background-image: url('../img/jukvid.webp');}

/*--------------------------------------------------------------
# Sponsorship/Supports & Media Partner
--------------------------------------------------------------*/
.support h3 {
  color: var(--clr-prim);
  font-size: 20px;
  font-weight: 700;
}

.support .support-slider {
  padding: 20px 0;
}

.support .swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support .swiper-wrapper {
  transition-timing-function: linear;
}

.support .swiper-slide img {
  height: 74px;
  max-width: 150px;
  object-fit: contain;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .col-lg {
  padding: 12px 28px;
}

.contact h3 {
  color: var(--clr-prim);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.contact h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--clr-prim);
  bottom: 20;
  left: 0;
  margin: 10px 0;
}

.contact .box {
  transition: all 0.3s ease-in-out;
  margin: 0 8px;
  align-content: center;
}

.contact-button {
  display: flex;
  background-color: var(--white);
  box-shadow: 1px 3px 4px var(--shadow);
  color: var(--clr-prim);
  padding: 1.2em;
  border-radius: 1.25em;
  text-decoration: none;
  margin: 0.5em 0 1em;
  transition: transform 0.3s ease, background-color 0.4s ease;
}

.contact-button:hover {
  transform: scale(1.1);
  background-color: var(--clr-acnt-hvr);
  color: #fff;
}

.contact-button i {
  font-size: 36px;
  margin-right: 15px;
}

.contact-info {
  flex-grow: 1;
}

.contact-info p {
  margin: 0;
}

.contact-info .name {
  font-weight: bold;
  font-size: 1.4em;
}

.contact-info .role {
  font-size: 1em;
  opacity: 0.7;
  margin-top: 4px;
}

.contact-info .status {
  display: inline-block;
  vertical-align: 15%;
  color: #fff;
  font-size: 0.6em;
  font-weight: 600;
  padding: 0.18em 0.3em;
  border-radius: 5px;
  margin-left: 4px;
  border: 1px solid #fff;
}

.status.hijau { background: #28a745; }
.status.merah { background: #ec3737; }
.status.abu { background: #606c75; }

@media (max-width: 768px) {
  .contact h3 {
    font-size: 5.4vmin;
  }

  .contact-info .name {
    font-size: 5vmin;
  }

  .contact-info .role {
    font-size: 3vmin;
  }
}
@media (min-width: 1199px) {
  .contact .box {
    margin: 8px 16px;
  }
  .contact-button:hover {
  transform: scale(1.05);
  }
}
/*--------------------------------------------------------------
# Youtube Video
--------------------------------------------------------------*/
.video {
  padding: 16px;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
}

.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;    
  margin: 16px auto;          
  aspect-ratio: 16/9;       
  background-color: #000;   
  border-radius: 1.25em;   
  border: 2px solid var(--clr-prim); 
  box-shadow: 3px 6px 2px var(--shadow); 
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  opacity: 0.9;
  transition: opacity 0.3s ease, transform 0.5s ease;
}

.video-wrapper:hover img {
  opacity: 0.6; 
  transform: scale(1.05); 
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 72px;
  height: 50px;
  background: rgba(255, 0, 51, 0.6); 
  border-radius: 20%; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(255, 0, 51, 0.6);
  transition: all 0.3s ease;
  z-index: 2;
}

.video-wrapper:hover .play-btn {
  background: #ff0033; 
  transform: translate(-50%, -50%) scale(1.2); 
  box-shadow: 0 0 10px #ff0033; 
}

.play-btn i {
  color: #fff;
  font-size: 32px;
  margin-left: 4px; 
}

.video h3 {
  color: var(--clr-prim);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.video h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--clr-prim);
  bottom: 20;
  left: 0;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .video h3 {
    font-size: 5.4vmin;
  }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery-wrap {
  position: relative;
  overflow: hidden;
  margin: 18px 6px;
  border-radius: 10px;
  box-shadow: 2px 4px 2px var(--shadow);
}

.gallery-wrap img {
  width: 100%;
  transition: 0.5s ease;
}

.gallery-wrap .gallery-links {
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gallery-wrap .gallery-links a {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  padding: 16px;
  text-align: center;
  opacity: .45;
  transition: 0.4s;
}

.gallery-wrap:hover img {
  transform: scale(1.3);
  filter: brightness(0.6);
}

.gallery-wrap:hover .gallery-links {
  opacity: 1;
}

.gallery-wrap .gallery-links a:hover {
  opacity: 1;
  letter-spacing: 0.1em;
  transform: scale(1.2);
  text-shadow: 0 0 6px #fd2e12;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 20px 10px;
  color: #f4f6fd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 20;
  background: #540001;
  text-align: center;
}

#footer h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.socialIcons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 48px;
  height: 48px;
  margin: 0 4px;
  background-color: #fff;
  border-radius: 25%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}


.socialIcons a i {
  font-size: 1.6em;
  color: #540001;
}

.socialIcons a:hover {
  background-color: #d50404;
  transform: scale(1.2) rotate(5deg);
  box-shadow: 0 10px 24px rgba(213, 4, 4, 0.4);
}

.socialIcons a:hover i {
  color: #fff;
}

.copyright p {
  margin-top: 18px;
  font-size: 10px;
  color: #da6666;
  transition: 0.5s;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px;
  }
}